ion-content {
  --background: #f4f5f8; 
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 30px 20px;
}

.logo-section {
  text-align: center;
  margin-bottom: 40px;

  ion-icon {
    font-size: 110px;
    color: #ff6a00; 
  }

  h1 {
    font-size: 2.2rem;
    font-weight: 800;
    margin: 10px 0 5px;
    color: #222;
  }

  p {
    color: #666;
    margin: 0;
    font-size: 1.1rem;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px; 

  ion-input {
    --background: #ffffff;
    --color: #000000 !important;
    color: #000000 !important; 
    --highlight-color-focused: #ff6a00; 
  }

  /* Estilos para nuestro botón de ojo manual */
  .manual-toggle {
    --color: #000000 !important;
    margin: 0;
  }

  .forgot-password {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 5px;
    
    a {
      color: #ff6a00; 
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      padding: 10px;
      display: inline-block;
    }
  }

  .btn-login {
    margin-bottom: 30px;
    --border-radius: 12px;
    --background: #ff6a00; 
    --background-hover: #e65c00; 
    --color: #ffffff; 
    font-weight: bold;
    font-size: 1.2rem;
    height: 55px;
    --box-shadow: 0 4px 10px rgba(255, 106, 0, 0.3);
  }
}

.register-section {
  text-align: center;

  p {
    color: #666;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  ion-button {
    --color: #ff6a00; 
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
  }
}

/* Media Query para pantallas horizontales */
@media (max-height: 600px) and (orientation: landscape) {
  .login-container {
    padding-top: 50px;
  }
  
  .logo-section {
    margin-bottom: 20px;
    
    ion-icon {
      font-size: 70px;
    }
  }
}